body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.png');
    /*background-repeat: no-repeat;*/
    background-size: 100% 100%;
}

table {
    margin: auto;
}

button {
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 6px;
}

div{
    padding: 10px 0;
}

.input-box {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

